autopep8==1.5.2
configobj==5.0.6
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
progressbar2==3.51.3
pycodestyle==2.5.0
Pygments==2.6.1
pyparsing==2.4.7
PySide2==5.14.2
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
scipy==1.4.1
seaborn==0.10.1
shiboken2==5.14.2
six==1.14.0
